# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
BreakBeforeBraces: Custom
IndentWidth: 4
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
BraceWrapping:
  AfterFunction: true
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false